<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
  
 <mapper namespace="com.bridgeit.DAO.UserMapper">
 <insert id="insertUser" parameterType="RegisterBean" useGeneratedKeys="true">
 insert into fundoouser(name,mobile,email,password)values(#{name},#{mobile},#{email},#{password})
 </insert>
 
<select id="getUser" parameterType="LoginBean" resultType="RegisterBean">
select * from fundoouser where email=#{email} and password=#{password}

</select>
 
 <select id="checkUser" parameterType="String" resultType="RegisterBean">
 select * from fundoouser where name=#{uname}
 </select>
 
 <update id="updateUser" parameterType="String">
 update fundoouser set password=#{0} where name=#{1} 
 </update>
 
  <select id="checkUserByEmail" parameterType="String" resultType="RegisterBean">
 select * from fundoouser where email=#{email}
 </select>
 
 </mapper> 