<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StudentLogin</display-name>
  <welcome-file-list>
    <welcome-file>main.html</welcome-file>
   
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentLogin</display-name>
    <servlet-name>StudentLogin</servlet-name>
    <servlet-class>com.Student.StudentLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLogin</servlet-name>
    <url-pattern>/StuLo</url-pattern>
  </servlet-mapping>
</web-app>