<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



<bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
<property name="brokerURL" value="tcp://localhost:61616"></property>
</bean>

<bean id="messageDestination" class="org.apache.activemq.command.ActiveMQQueue">
<constructor-arg value="messageQueue1"></constructor-arg>
</bean>

<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
<property name="connectionFactory" ref="connectionFactory"></property>
<property name="receiveTimeout" value="10000"></property>
</bean>

<bean id="springJmsProducer" class="SpringJmsProducer">
<property name="destination" ref="messageDestination"></property>
<property name="jmsTemplate" ref="jmsTemplate"></property>
</bean>

<bean id="springJmsConsumer" class="SpringJmsConsumer">
<property name="destination" ref="messageDestination"></property>
<property name="jmsTemplate" ref="jmsTemplate"></property>
</bean>
	
</beans>